@inherits LayoutComponentBase
<div class="container-fluid">
    <div class="row">
        <div class="col-3 bg-light vh-100 p-3">
            <h4>World Player</h4>
            <NavMenu />
        </div>
        <div class="col-9 p-3">
            @Body
        </div>
    </div>
</div>